.btn-ciclo-yellow {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffea3e;
    --bs-btn-border-color: #ffea3e;

    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffe40a;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;

    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffea3e;
    --bs-btn-disabled-border-color: #ffea3e;
}

.bg-ciclo {
    --bs-bg-opacity: 1;
    background-color: #fff500 !important;
}

div.form-select.bootstrap-select button {
    border: none !important;
    padding: 0 !important;
}

#dashboard-logo-ciclo {
    max-width: 70%;
}

footer.footer {
    font-size: 0.8em;
}

.sidebar-nav #sidebarnav .sidebar-item.selected>.sidebar-link,
.ui-widget-header {
    color: #000 !important;
    background: linear-gradient(to right, #eade71, #eade72, #eaea74, #e9e96a, #e8e15f);
    box-shadow: 0 7px 12px 0 rgba(232, 230, 95, 0.21);
}
.ui-widget-header {
    border-color: #c9bc47;
}

#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item.selected>.sidebar-link .feather-icon,
#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item.selected>.sidebar-link i,
#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item.selected>.sidebar-link .feather-icon,
#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item.selected>.sidebar-link i {
    color: #000;
}

.page-wrapper>.container-fluid,
.page-wrapper>.container-lg,
.page-wrapper>.container-md,
.page-wrapper>.container-sm,
.page-wrapper>.container-xl,
.page-wrapper>.container-xxl {
    padding: 0 35px 35px 35px;
}

.link-primary {
    color: #698eff !important;
}
.link-primary:hover, .link-primary:focus {
    color: #2c7dff !important;
}
#main-wrapper .auth-box {
    box-shadow: rgba(0, 0, 0, 0.75) 0px 22px 70px 4px;
}
.auth-wrapper .auth-box .modal-bg-img {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff500;
}
form .form-body .custom-accordion .custom-accordion-title {
    /* color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity)) !important; */
    color: #1c2d41;
}
.topbar .top-navbar .navbar-header .navbar-brand {
    background-color: #fff500;
}
.topbar .top-navbar .navbar-header .navbar-brand a {
    width: 100%;
    text-align: center;
}
.topbar {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2.75px 8.75px 1px;
}
div.ui-datepicker {
    font-size: 0.85em !important;
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: #fff500 !important;
    color: #000 !important;
}
.form-label .form-required {
    color: red !important;
}
.card-header {
    background-color: #e8eaec;
}
.form-control-sm {
    min-height: calc(1.35em + .5rem + calc(var(--bs-border-width) * 2)) !important;
}
.form-select {
    padding: 4px 45px 0px 12px !important;
}
form#job-register div[id^=heading] div.dropdown.sub-dropdown {
    text-align: right !important;
}

/* =========== SWEETALERT ============ */
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
/* =================================== */

/* =========== OKIPA TABLE =========== */
.table > :not(caption) > * > * {
    padding: 8px 8px;
}

div.table-responsive,
div.table-responsive input,
div.table-responsive i,
div.table-responsive ul.pagination .page-link,
div.table-responsive select {
    font-size: 0.9em !important;
}

div.table-responsive .pe-xl-3 {
    padding-right: 0 !important;
}

div.table-responsive tfoot div.p-2 {
    padding: 0 !important;
}
/* =================================== */

@media (max-width: 1170px) {
    #dashboard-logo-ciclo {
        max-width: 46%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}